<html>
    <head>
        <title>Project {{project_name}}</title>
        Here are the details of <i>{{project_name}} </i>project.
    </head>

    <body>
        <p>
            <table>
                <tr><td><b>Series Number </b> </td> <td> {{series_number}} </td></tr>
                <tr><td><b>Project ID </b> </td> <td> {{project_id}} </td></tr>
                <tr><td><b>Project Name </b> </td> <td> {{project_name }} </td></tr>
                <tr><td><b>Project URL </b> </td> <td>{{project_url}} </td></tr>
                <tr><td><b>Status </b> </td> <td> {{status}} </td></tr>
                <tr><td><b>Currency </b> </td> <td> {{ currency}} </td></tr>
                <tr><td><b>Goal </b> </td> <td> {{goal}} </td></tr>
                <tr><td><b>End Date </b> </td> <td> {{end_date}} </td></tr>
                <tr><td><b>Author Name </b> </td> <td> {{author_name }} </td></tr>
                <tr><td><b>Location </b> </td> <td> {{location}} </td></tr>
                <tr><td><b>Category </b> </td> <td> {{category }} </td></tr>
                <hr>
                <tr><td><b><u>Grading Information</u> </b></tr>
                <tr><td><b>firmid </b> </td> <td> {{project_id }} </td></tr>
                <tr><td><b>Video </b> </td> <td> {{main_video_link }} </td></tr>
                <tr><td><b>Grader1 ID </b> </td> <td> {{grader1PID }} </td></tr>
                <tr><td><b>* Video Quaility 1 </b></td> <td> {{videoquaility1 }} </td></tr>
                <tr><td><b>* Other Company  Referenced 1 </b></td> <td> {{othcompreference1 }} </td></tr>
                <tr><td><b>* Other Company Name 1 </b></td> <td> {{othcompname1 }} </td></tr>
                <tr><td><b>* Pitch Focus 1 </b></td> <td> {{pitchfocus1 }} </td></tr>
                <tr><td><b>* Founder School Referenced 1 </b></td> <td> {{founderschool1 }} </td></tr>
                <tr><td><b>* Founder School Name 1 </b></td> <td> {{founderschoolname1 }} </td></tr>
                <tr><td><b>* Founder Startup Referenced 1 </b></td> <td> {{founderstartup1 }} </td></tr>
                <tr><td><b>* Founder Startup Name 1 </b></td> <td> {{founderstartupname1 }} </td></tr>
                <tr><td><b>* Prototype Pressent 1</b></td> <td> {{prototypes1}} </td></tr>
                <tr><td><b>* Endorsement Pressent 1</b></td> <td> {{endorsements1}} </td></tr>
                <tr><td><b>* Endorsement Name 1</b></td> <td> {{endorsementname1}} </td></tr>
                <tr><td><b>Grader2 ID </b> </td> <td> {{grader2PID }} </td></tr>
                <tr><td><b>* Video Quaility 2 </b></td> <td> {{videoquaility2 }} </td></tr>
                <tr><td><b>* Other Company  Referenced 2 </b></td> <td> {{othcompreference2 }} </td></tr>
                <tr><td><b>* Other Company Name 2 </b></td> <td> {{othcompname2 }} </td></tr>
                <tr><td><b>* Pitch Focus  </b></td> <td> {{pitchfocus2 }} </td></tr>
                <tr><td><b>* Founder School Referenced 2 </b></td> <td> {{founderschool2 }} </td></tr>
                <tr><td><b>* Founder School Name 2 </b></td> <td> {{founderschoolname2 }} </td></tr>
                <tr><td><b>* Founder Startup Referenced 2 </b></td> <td> {{founderstartup2 }} </td></tr>
                <tr><td><b>* Founder Startup Name 2 </b></td> <td> {{founderstartupname2 }} </td></tr>
                <tr><td><b>* Prototype Pressent 2</b></td> <td> {{prototypes2}} </td></tr>
                <tr><td><b>* Endorsement Pressent 2</b></td> <td> {{endorsements2}} </td></tr>
                <tr><td><b>* Endorsement Name 2</b></td> <td> {{endorsementname2}} </td></tr>
            </table>
        </p>
    </body>
</html>